<nav class="navbar navbar-expand bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand icon-link" routerLink="/"
      ><span class="material-symbols-outlined"> edit_square </span> My App</a
    >
    <ul class="navbar-nav">
      @if(!loggedIn){
      <li class="nav-item icon-link">
        <a class="nav-link active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item icon-link">
        <a class="nav-link active" routerLink="/signup">Sign Up</a>
      </li>
      } @else {
      <li class="nav-item icon-link">
        <a class="nav-link active" routerLink="/article/new">Post Article</a>
      </li>
      <app-user />
      }
    </ul>
  </div>
</nav>
