<div class="d-flex flex-column editor-base">
  <div class="bg-white border rounded p-3 h-100 d-flex flex-column">
    <app-image-selector
      (onChangeImage)="onChangeImage($event)"
      [image]="image"
    />
    <textarea
      class="fs-1 no-outline"
      [class.border-0]="!errors?.title"
      [class.editor-error]="errors?.title"
      rows="1"
      placeholder="New post title here"
      [formControl]="title"
    ></textarea>
    <span class="text-danger small">{{ errors?.title }}</span>
    <app-toolbar [editor]="editor" (onChange)="onChangeContent($event)" />
    <textarea
      #editor
      class="flex-grow-1 no-outline"
      [class.border-0]="!errors?.content"
      [class.editor-error]="errors?.content"
      placeholder="Write your post content here"
      [formControl]="content"
    ></textarea>
    <span class="text-danger small">{{ errors?.content }}</span>
  </div>
  <div class="d-flex gap-2 py-2 px-2">
    @if(id) {
    <app-publish-button [id]="id" [published]="published"></app-publish-button>
    }
    <app-button
      variant="success"
      (onClick)="submit()"
      [apiProgress]="apiProgress"
    >
      @if (id) { Update } @else { Save }
    </app-button>
    @if(id) {
    <a class="btn btn-warning" [routerLink]="previewUrl">Preview</a>
    }
  </div>
</div>
