<div class="d-flex flex-column editor-base">
    <div class="bg-white border rounded p-3 h-100 d-flex flex-column">
        <textarea class="fs-1 border-0 no-outline" rows="1" placeholder="New post title here"
        [formControl]="title"
        ></textarea>
        <textarea class="flex-grow-1 border-0 no-outline" placeholder="Write your post content here"
        [formControl]="content"
        ></textarea>
    </div>
    <div class="py-2 px-2">
        <app-button variant="success" (onClick)="submit()">
            @if (id) { Update } @else { Save }
        </app-button>
    </div>
</div>