<div class="card mb-3">
  <div class="row">
    <div class="col-4">
      <app-image-with-fallback
        [image]="article.image"
        classNames="rounded-start"
      />
    </div>
    <div class="col-8">
      <div class="card-body text-truncate">
        <app-article-info
          [author]="article.author"
          [publishedAt]="article.publishedAt"
        />
        <a
          class="text-decoration-none text-dark fs-3"
          [routerLink]="'/' + article.author.handle + '/' + article.slug"
        >
          {{ article.title }}
        </a>
      </div>
    </div>
  </div>
</div>
