$primary: #cb095a;
$border-width: 2px;
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.card {
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.btn {
    box-shadow: 3px 3px black;
    transform: translate(-3px, -3px);
    transition: unset;
    &:active {
        box-shadow: 1px 1px black;
        transform: translate(-1px, -1px);
    }
    &:disabled {
        box-shadow: unset;
        transform: unset;
    }
}

.navbar a {
    &:hover {
        text-shadow: 2px 2px black;
        transform: translate(-2px, -2px);
    }
}

.navbar {
    border-bottom: 3px solid black;
}

.nav-item span {
    cursor: pointer;
    &:hover {
        text-shadow: 2px 2px black;
        transform: translate(-2px, -2px);
    }
}

.no-outline {
    resize: none;
    &:focus {
        outline: none;
    }
}

.editor-base {
    height: calc(100vh - 75px);
}

.editor-error {
    border: 0;
    border-bottom: 1px solid var(--bs-danger);
}

p.markdown img {
    width: 100vw;
    max-width: 100%;
}

.toast-wrapper {
    max-width: 200px;
    right: 20px;
    top: 75px;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.navbar .dropdown-item {
    &:hover {
        transform: unset;
        text-shadow: unset;
    }
}
.material-symbols-outlined.action {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        text-shadow: 2px 2px var(--bs-secondary);
        transform: translate(-2px, -2px);
    }
}